# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages
warnings_are_errors: false

env:
  global:
  - R_CHECK_ARGS="--timings"

r_packages:
  - archivist
  - ggplot2
  - covr

after_success:
  - Rscript -e 'library(covr); codecov()'

